body {
  font-weight: 200;
}

input,
nav-item {
  font-weight: 200;
  line-height: 110%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}